# This lib/ might not even be used when you use PlatformIO to add libs. In that case they may live inside
# .pio/libdeps
# For now we will exclude it. Might be good to keep libs in the repo for convenience and because I have older
# Arduino stuff and the libs don't always stick around online.
#lib/
# TODO: WIll manually maintain some stuff in lib/. Update comments.

# lib-ASIDE/ is where libs that might be needed are kept nearby. Exclude from repo.
# I'm keeping a previously-good LCDKeypad lib around because at the moment I cannot locate and add it through
# the PlatformIO Home/GUI web app launched from CLion. It can install libs but cant currently find this one and dont
# yet know of any alternatives for LCDKeypad.
lib-ASIDE/

# Leave out .idea JetBrains IDE (CLion) settings dir. This stuff is specific to each developer.
.idea/

# CMake build and debug dirs added by CLion or the PlatformIO Plugin (not sure)
# And don't know yet if PlatformIO uses these or if we need these to exist at all.
# I'm seeing info that PlatformIO does not use CMake, but also seeing hints it does use it. TBD.
cmake-build-uno/
cmake-build-debug/

# Until it is determined we need these CMake files, we'll ignore these also
CMakeLists.txt
CMakeListsPrivate.txt

# .pio dir looks like all build-related to will exclude this for now
.pio/

# Will leave out test/ until we need those
test/


#### ---- Below here is the generic GitHub template for c++. Above is custom ---- ####

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
